<?xml version="1.0" encoding="UTF-8"?>
<!--
   logback.xml

   Copyright by toolarium, all rights reserved.
-->
<configuration>
    <property name="LOG_ROOT" value="logs" />
    <property name="LOG_FILE_NAME" value="toolarium-jwebserver" />

    <!-- colored console appender -->
    <!-- console appender, for diagnostic messages -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>%-30(%d{ISO8601} - %1.-1level - %-6.6t{5}) - %-80.80(%logger#%M:%L{79}) | %msg%n%xEx{5}</pattern> -->
            <pattern>* %msg%n</pattern>
        </encoder>
    </appender>

    <!-- file appender -->
    <!-- 
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>          
            <maxHistory>30</maxHistory>         30 days to keep           
            <maxFileSize>500MB</maxFileSize>    500 MB max size, in case its bigger, it will be split by an additional index     
            <totalSizeCap>100GB</totalSizeCap>  total size of all archive files, if total size > 100GB, it will delete old archived file 
        </rollingPolicy>
        <encoder>
            <pattern>%-30(%d{ISO8601} - %1.-1level - %-6.6t{5}) - %-100.100(%logger#%M:%L){99} | %msg%n</pattern>
        </encoder>
    </appender>
     -->
     
    <!-- access log appender -->
    <!-- 
    <appender name="ACCESSLOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/${LOG_FILE_NAME}-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT}/${LOG_FILE_NAME}-access-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>        30 days to keep
            <maxFileSize>500MB</maxFileSize>   500 MB max size, in case its bigger, it will be split by an additional index
            <totalSizeCap>100GB</totalSizeCap> total size of all archive files, if total size > 100GB, it will delete old archived file
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>        
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    -->
    
    <logger name="ch" level="WARN"/>
    <logger name="org" level="WARN"/>
    <logger name="com.github" level="WARN"/>
    <logger name="com.github.toolarium.jwebserver" level="INFO"/>

    <!-- write access log to the specific appender  -->
    <logger name="com.github.toolarium.jwebserver.accesslog" additivity="false">
        <appender-ref ref="ACCESSLOG_FILE"/>
    </logger>
    
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <!--  <appender-ref ref="FILE" /> -->
    </root>
</configuration>
